helloframework/hello-gateway/hello-gateway-config/src/main/resources/META-INF/hello.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.hellosource.org/schema/hello"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.hellosource.org/schema/hello"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ Namespace support for the hello api services provided by hello framework. ]]></xsd:documentation>
    </xsd:annotation>
    <xsd:element name="application">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="provider">
        <xsd:complexType>
            <xsd:attribute name="port" type="xsd:string" use="required"/>
            <xsd:attribute name="max" type="xsd:string" use="optional"/>
            <xsd:attribute name="threads" type="xsd:string" use="optional"/>
            <xsd:attribute name="workThreads" type="xsd:string" use="optional"/>
            <xsd:attribute name="mode" type="xsd:string" use="optional"/>
            <xsd:attribute name="timeout" type="xsd:string" use="optional"/>
            <xsd:attribute name="weight" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="consumer_local">
        <!--        <xsd:complexType>-->
        <!--            <xsd:attribute name="threads" type="xsd:string" use="optional"/>-->
        <!--            <xsd:attribute name="workThreads" type="xsd:string" use="optional"/>-->
        <!--        </xsd:complexType>-->
    </xsd:element>
    <xsd:element name="consumer_remote">
        <xsd:complexType>
            <xsd:attribute name="threads" type="xsd:string" use="optional"/>
            <xsd:attribute name="workThreads" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="consumer_mesh">
        <xsd:complexType>
            <xsd:attribute name="threads" type="xsd:string" use="optional"/>
            <xsd:attribute name="workThreads" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="plugins">
        <xsd:complexType>
            <xsd:attribute name="package" type="xsd:string" use="required"/>
            <xsd:attribute name="exclude" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="address" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="services">
        <xsd:complexType>
            <xsd:attribute name="package" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>